#quote {
  display: none;

}
.designTrack {
  display: none;
}
.logicTrack {
  display: none;
}
#cSharp {
  display: none;
}
#ruby {
  display: none;
}
#css {
  display: none;
}
.language {
  font-weight: bold;
  color: #1676ba;
}
.form{
  margin: 5vh;
  border-style: solid;
  border-width: medium;
}

.well {
  margin: 5vh;
}
