
.jumbotron{
  width: 100vw !important;
  text-align: center;
}
#quote {
  display: none;

}
.designTrack {
  display: none;
}
.logicTrack {
  display: none;
}
#cSharp {
  display: none;
}
#ruby {
  display: none;
}
#css {
  display: none;
}
.language {
  font-weight: bold;
  color: #1676ba;
}
.form{
  margin: 5vh;
  border-style: solid;
  border-width: medium;
  border-color: #1676ba;
}

.well {
  margin: 5vh;
}
#radio1 {
  padding: 5vh;
}

p {
  padding: 1vh;
}
